<h1> All My Posts </h1>
 
<h5> Click on a post below to see the full details of that post </h5>
 
<ul>
<% for post in @posts %>
 
<li>
<a href="/posts/<%= post.id %>">
<%= post.title %>
</a>
</li>
 
<% end%>
