<h1> Welcome to Alex's Travel Log! </h1>


<h3> Here are some places I've been: </h3>
<h5> Click on a place name below to see all the posts from that place </h5>

<ul>
<% for place in @places %>
<li>
<a href="/places/<%= place.id %>">
<%= place.name %>
</a>
</li>
<% end%>
</ul>

<h4> Want to add a new place? Click below! </h4>
<button>
<a href="places/new">Add New Place</a>
</button>
