<!DOCTYPE html>
<html>
 <head>
   <title>StarterApp</title>
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>
 
   <%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<style>
body {
 font-family: "Trirong", serif;
     font-size: 20px;
    }
</style>
 </head>
 
 <body>
   <%= yield %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<style>
body {
 font-family: "Trirong", serif;
     font-size: 15px;
    }
 </body>
</html>